<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="timeOnLaunch" datePattern="yyyy'.'MM'.'dd'-'HH'.'mm'.'ss"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/log-${timeOnLaunch}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-34.-34thread %10.10X{jda.shard} %-15.-15logger{0} %-6level %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %boldCyan(%-34.-34thread) %red(%10.10X{jda.shard}) %boldGreen(%-15.-15logger{0}) %highlight(%-6level) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>